# fly.toml app configuration file
# https://fly.io/docs/reference/configuration/

app = "runcoach-pro"
primary_region = "mad"  # Madrid - cambia según tu región preferida

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"
    method = "GET"
    path = "/"

[mounts]
  source = "trainapp_data"
  destination = "/data"
  initial_size = "1GB"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
